@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:700);

body{
	background: #555 url(../images/bg.png);
	color:#fff;
	font-family: 'Roboto Slab', arial, helvetica neue; 
}
a{text-decoration: none;}
.J_intro{
	text-align: center;
	max-width: 800px;
	height: 40px;
	margin: 60px auto 0 auto;
	font-size: 30px;
	color: #E88E17;
	text-shadow: 0px 1px 0px rgba(255,255,255,0.5);
}
.J_photo{
	cursor: pointer;
	width: 220px;
	height: 220px;
	position: relative;
	margin: 80px auto 0 auto;
	box-shadow: 0 0 50px rgba(0,0,0,0.4) inset;
	-webkit-transform:rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
	background: url(../images/jingzi.png) center;
}
.J_photo--box1,.J_photo--box2,.J_photo--box3,.J_photo--box4{
	width: 110px;
	height: 110px;
	position: absolute;
	box-shadow: 0 0 0 1px #f0f0f0 inset;
	-webkit-transition: all 0.5s linear;
	transition: all 0.5s linear;
}
.J_photo--box1{
	top: 0;
	left: 0;
	background: #CCFFCC;
}
.J_photo--box2{
	right: 0;
	top: 0;
	background: #FFCCCC;
}
.J_photo--box3{
	top: 110px;
	left: 0;
	background: #CCFF66;
}
.J_photo--box4{
	right: 0;
	bottom: 0;
	background: #FFCCFF;
}
.J_photo:hover{
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.J_photo:hover .J_photo--box1{
	left: -120px;
}
.J_photo:hover .J_photo--box2{
	right: -120px;
	top: 110px;
}
.J_photo:hover .J_photo--box3{
	top: -120px;
}
.J_photo:hover .J_photo--box4{
	bottom: -120px;
}
.J_index{
	position: absolute;
	bottom: 100px;
	right: 100px;
}
.J_index a{
	font-size: 48px;
	text-decoration: none;
	color: #00FF99;
}

