*,*::before,*::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font: 14px/1.5  helvetica, arial, tahoma, verdana;
	padding-bottom: 80px;
	letter-spacing: 1px;
	color: #726f77;
}
.intr{
	padding: 20px 0;
	background: #2b2e48;
}
.container{
	max-width: 1100px;
	margin: 0 auto;
	font-size: 22px;
	font-weight: 500;
	color: #f7aaaa;
}
.timeline ul{
	padding: 50px 0;
}
.timeline .time_demail{
	list-style-type: none;
	width: 6px;
	margin: 0 auto;
	background: #ee4d4d;
	padding-top: 60px;
	position: relative;
}
.timeline .time_demail:after{
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	transform:translateX(-50%);
	background: inherit;
}
.time_demail div{
	position: relative;
	top: -60px;
	width: 400px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0 3px 0 rgba(0,0,0,0.1);
}
.time_demail div:before{
	content: '';
	position: absolute;
	top: 7px;
	border-style: solid;
	width: 0;
	height: 0;
}
.time_demail:nth-child(odd) div{
	left: 45px;
}
.time_demail:nth-child(odd) div:before{
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #ee4d4d transparent transparent;
}
.time_demail:nth-child(even) div{
	left: -439px;
}
.time_demail:nth-child(even) div:before{
	right:-15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #ee4d4d;
}
time{
	display: block;
	margin: -15px;
	padding: 10px 15px;
	font-size: 1.2rem;
	font-weight: bold;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	margin-bottom: 8px;
	background: #ee4d4d;
	color: #fff;
}
.time_demail:after{
	transition: background 0.5s ease-in-out;
}
.time_demail.in-view:after{
	background: #ee4d4d;
}
.time_demail div{
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.time_demail:nth-child(odd) div{
	transform: translateX(200px);
}
.time_demail:nth-child(even) div{
	transform: translateX(-200px);
}
.time_demail.in-view div{
	transform: none;
	visibility: visible;
	opacity: 1;
}
.J_index{
	position: fixed;
	bottom: 100px;
	left: 100px;
}
.J_index a{
	font-size: 48px;
	text-decoration: none;
	color: #00FF99;
}
@media screen and (max-width: 900px){
	.time_demail div{
		width: 250px;
	}
	.time_demail:nth-child(even) div{
		left: -289px;
	}
}
@media screen and (max-width: 600px){
	.timeline .time_demail{
		margin-left: 20px;
	}
	.time_demail div{
		width: calc(100vw - 91px);
	}
	.time_demail:nth-child(even) div{
		left: 45px;
	}
	.time_demail:nth-child(even) div:before{
		left: -15px;
		border-width: 8px 16px 8px 0;
		border-color: transparent #ee4d4d transparent transparent; 
	}
}